---

# This file stores the values of parameters of my project. I am putting these values in a 
# separate file so that I can import a onsistent set parameters into all the files that need them.  

# GERERAL
sampling_rate: 22050 # this is the sr that tifresi and librosa (at least in librosa.load) use by default

# STFT
spec_x_len: 1048576 # = 2^20, number of samples of each spectrogram (that we save)
stft_num_channels: 1024
stft_hop_size: 256 
stft_min_val: -50 # = minimum allowed value of the spectrogram (in dB), this value was tweaked s.t. the output
                  # of spec_to_preprocessed_spec is not a noisy mess (which it becomes if you lower this value)
                  # and is also not too quiet (which it becomes if you increase this value)
# ACHTUNG: 
# - abs(stft_min_val) has to be <= stft_dyn_range_upper_bound since in spec_to_preprocessed_spec
#   we first clip the spec to the range [stft_min_val, 0] and then we shift it by abs(stft_min_val)
#   and then in to_01 divide by stft_dyn_range_upper_bound and if abs(stft_min_val) >
#   stft_dyn_range_upper_bound then the resulting spec could end up containing values greater than 1. 
# - the following has to hold in order to have reconstructability: stft_channels / hop_size >= 4
stft_dyn_range_upper_bound: 50

# MEL TRANSFORMATION
mel_num_channels: 80
log_mel_min_val: -50 # = minimum allowed value of the log mel spectrogram (in dB)
# TODO: tweak log_mel_min_val based on range of the spec that is being clipped and 
# check recon
log_mel_dyn_range_upper_bound: 50  