---

# This file stores the values of parameters of my project. I am putting these values in a 
# separate file so that I can import a onsistent set parameters into all the files that need them.  

# GERERAL
sampling_rate: 22050 # this is the sr that tifresi and librosa (at least in librosa.load) use by default

# STFT
spec_x_len: 1048576 # = 2^20, number of samples of each spectrogram (that we save)
stft_num_channels: 1024
stft_hop_size: 256 
stft_min_val: -50 # minimum allowed value of the spectrogram (in dB)
# ACHTUNG: The following has to hold in order to have reconstructability: stft_channels / hop_size >= 4

# MEL TRANSFORMATION
mel_num_channels: 80